html,
body,
.main {
    height: 100%;
    width:  100%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #F9F9F9;
}

.main {
    display: table;
}

#form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#submit-btn {
    width: 30%;
    margin-top: 2%;
}

.input-group {
    width: 60%;
    margin: 0 auto;
}

.custom-checkbox {
    display: inline;
    margin: 1%;
}