<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trello Work</title>

    <script src={{ url_for('static', filename='js/jquery-3.4.1.js')}}></script>
    <script src={{ url_for('static', filename='js/popper.min.js')}}></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js')}}></script>

    <link rel="stylesheet"  type="text/css" href={{ url_for('static', filename='css/bootstrap.min.css')}}>
    <link rel="stylesheet"  type="text/css" href={{ url_for('static', filename='css/main.css')}}>
    <link rel="icon" type="image/png" href={{ url_for('static', filename='imgs/camera.png')}} />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="container main">
            
        <div id='form'>
            <div id='step-1'>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Key</span>
                    </div>
                    <input type="text" id='key' class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Token</span>
                    </div>
                    <input type="text" id='token' class="form-control">
                </div>
                <hr>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Board ID</span>
                    </div>
                    <input type="text" id='board-id' class="form-control">
                </div>
            </div>
            
            <div id='step-2'>
                
            </div>
            <button id='submit-btn' onclick="clickSubmit()" class="btn btn-primary">Next</button>

        </div>

    </div>
</body>
<script>
    const host = '127.0.0.1';
    const port = 5050;

    $('#key').on('input',function(e){
        $("#submit-btn").text('Next');
        $("#submit-btn").removeClass('btn-success').addClass("btn-primary");
    });

    $('#token').on('input',function(e){
        $("#submit-btn").text('Next');
        $("#submit-btn").removeClass('btn-success').addClass("btn-primary");
    });

    $('#board-id').on('input',function(e){
        $("#submit-btn").text('Next');
        $("#submit-btn").removeClass('btn-success').addClass("btn-primary");
    });

    const saveData = (function () {
        const a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (url, fileName) {
            a.href = url;
            a.download = fileName;
            a.click();
        };
    }());

    function clickSubmit(){
        console.log($("#submit-btn").text());
        
        if ($("#submit-btn").text() == "Next"){
            $.ajax({
                type: "GET",
                // url: "http://" + host + ":" + port + "/get-list",
                url: "https://api.trello.com/1/boards/" + $("#board-id").val() + 
                    "/lists?cards=none&card_fields=all&filter=open&fields=all&key="+
                    $("#key").val()
                    + "&token=" +
                    $("#token").val(),
                success: function (data) {
                    $("#step-2").html("");

                    let lists = [
                        `<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check-all">
                            <label class="custom-control-label" for="check-all">All</label>
                        </div>`
                    ]
                    console.log(data);
                    
                    data.forEach(element => {
                        let list = `<div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="` + element['id']  + `">
                            <label class="custom-control-label" for="` + element['id'] + `">` + element['name'] + 
                            `</label>
                        </div>`;
                        lists.push(list)
                    });
                    
                    lists.forEach(element => {
                        $("#step-2").append($(element)).show('slow');
                    });                    
                
                    $("#check-all").click(function(){
                        let boxes = $(".custom-control-input");
                        console.log(boxes);
                        
                        for (let index = 0; index < boxes.length; index++) {
                            const element = boxes[index];
                            if (element.id != 'check-all') {
                                if ($("#check-all").is(':checked')){
                                    element.checked = true;
                                }
                                else {
                                    element.checked =  false;

                                }
                            }
                            
                        }
                        
                    });
                    
                    $("#submit-btn").text('Submit');
                    $("#submit-btn").removeClass('btn-primary').addClass("btn-success");
                },
                error: function(){
                    alert("Oops! Something wrong happened!");
                }
                
            });

        }
        else {
            let lists_ids = [];
            let boxes = $(".custom-control-input");
            
            for (let index = 0; index < boxes.length; index++) {
                const element = boxes[index];
                if (element.id != 'check-all') {
                    if (element.checked){
                        lists_ids.push(element.id)
                    }                        
                }
                
            }
            let url = "http://" + host + ":" + port + "/process/" + lists_ids.join('_') + "-" + $("#key").val() + "-" + $("#token").val() + "-" + $("#board-id").val();

            saveData(url, 'results.xlsx')

            // $.ajax({
            //     type: "GET",
            //     url: "http://" + host + ":" + port + "/process/" + lists_ids.join('_') + "-" + $("#key").val() + "-" + $("#token").val() + "-" + $("#board-id").val(),
            //     success: function (data) {
            //         saveData("", 'results.xlsx');
                    
            //     },
            //     error: function(){
            //         alert("Oops! Something wrong happened!");
            //     }
                
            // });
        }
    }

</script>
</html>